@font-face {
    font-family: Opensans;
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

body {
    font-family: Opensans;
}

.navbar-brand {
    display:flex;
}

.flex-box-body {
    position: relative;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
}

.flex-box-intro {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: center;
    justify-content: left;
    background-color: red;
}

.flex-box-intro-column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: left;
    margin-left: 14em;
    margin-right: 11em;
}

.flex-box-intro-column>h1 {
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: bold;
}

.flex-box-intro-column>h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #686868;
}

.flex-box-intro-row>a {
    margin-top: 10px;
    width: 133px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    pointer-events: none;
    display: flex;
    font-weight: bold;
}

.flex-box-intro-row {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.get-quote-now {
    border-radius: 5px;
    background: #355CA7;
    color: white;
}

.learn-more {
    border-style: solid;
    border-radius: 5px;
    border: 10;
    border-color: #355CA7;
    color: #355CA7;
}

.flex-box-ms {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}

.flex-box-m {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    text-align: center;
    width: 552px;
    height: 461px;
    margin-right: 15px;
    background-color: #355CA7;
    color: #FFF;
    border-radius: 10px;
    padding: 30px 20px 0 20px;
}

.flex-box-s {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    text-align: center;
    width: 552px;
    height: 461px;
    margin-left: 15px;
    background-color: #355CA7;
    color: #FFF;
    border-radius: 10px;
    padding: 40px 20px 0 20px;
}

.flex-box-m>img {
    width: auto;
    height: 80px;
}

.flex-box-s>img {
    width: auto;
    height: 80px;
}

.flex-box-m>h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.flex-box-s>h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

.flex-box-m>p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.flex-box-s>p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.main-km-1 {
    width: auto;
}

.main-km-2 {
    width: 409px;
    height: 380px;
    margin-top: 5.5%;
    margin-bottom: 5.5%;
}
